<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Reminders</h4>
  <button type="button" class="close" aria-label="Close" (click)=modal.close()>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="bg-info">
    <app-expose-reminders [list]=upcomingList></app-expose-reminders>
  </div>
  <div class="bg-success">
  <app-expose-reminders [list]=todayList></app-expose-reminders>
</div>
<div class="bg-danger">
  <app-expose-reminders [list]=passedList></app-expose-reminders>
</div>
</div>
