
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Policy</h4>
    <button type="button" class="close" aria-label="Close" (click)=modal.close()>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group" appearance="fill">
        <mat-label> Type </mat-label>
        <label for="type"></label>
        <select ngModel="" matNativeControl formControlName="types" name="type" id="type" required = required>
          <option value="PF"> PF </option>
          <option value="PJ"> PJ </option>
        </select>
      </mat-form-field>
      <mat-form-field class="form-group ml-5" appearance="fill" id="auto-complete">
        <mat-label>Subtype</mat-label>
        <label for="subtype"></label>
        <input matInput type="text" id="subtype" name="subtype"
               [formControl]="myControl"
               [matAutocomplete]="auto"
               required = "required"
               formControlName="subtype"
        (click)="test()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="form-group">
        <label for="number">Number</label>
        <div class="input-group">
          <input formControlName="number" id="number" class="form-control" placeholder="Policy Number" name="number" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="period">Period</label>
        <div class="input-group">
          <input formControlName="period" id="period" class="form-control" placeholder="Period" name="period" type="number">
        </div>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input formControlName="startDate" id="startDate" class="form-control" type="date" name="startDate">
        </div>
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input formControlName="endDate" id="endDate" class="form-control" type="date" name="endDate">
        </div>
      </div>
      <div class="form-group">
        <label for="fee">Fee</label>
        <div class="input-group">
          <input formControlName="fee" id="fee" class="form-control" type="number" name="fee">
        </div>
      </div>
      <button class="btn btn-outline-dark">Save</button>
    </form>
  </div>
